@import url('https://fonts.googleapis.com/css2?family=Bowlby+One+SC&family=Montserrat:ital,wght@0,400;1,300&family=Mooli&family=Roboto:ital,wght@0,300;0,400;1,100&family=Sorts+Mill+Goudy&display=swap');

body{
    background-image: url(image/netflix-bg.jpg);
}

.container{
    width: 90%;
    background-color: #00000059;
    margin: auto    ;
}

img{
    height: 100px;
    width: 200px;
    justify-content: center;
}

.title{
    color: #fff;
    font-size: 50px;
    text-align: center;
    padding-top: 10px;
    letter-spacing: 7px;
    font-family: "Bowlby One SC", cursive;

}
.title span{
    color: red;
}

.description{
    text-align: center;
    color: #fff;
    font-family: "Sorts Mill Goudy", serif;
    font-size: 23px;
}

.box-input label{
    display: block;
    color: #fff;
    margin-top: 14px;
}

.box-input input , .box-input select{
    width: 100%;
    height: 36px;
    margin-top: 14px;
}

textarea{
    width: 100%;
}

form{
    background-color: #000;
    width: 500px; 
    height: 80%;
    margin: auto;
    padding: 20px 0;
}

.box{
    margin: auto;
    width: 90%;
    color: #fff;
}

button{
    background-color: red;
    color: #fff;
    border: none;
    height: 45px;
    width: 160px;
    border-radius: 20px;
    display: block;
    margin: 20px auto;
    cursor: pointer;
    font-size: larger;
}

.box-radio{
    margin-top: 20px;
}